#textBox2{
	width: 150px;
	height: 50px;
	border: 1px solid black;
	background-color: aliceblue;
}

#textBox3{
	display: none;
}

.highlight{
	background: yellow;
}

#textBox5{
	display: none;
}

#textBox7{
	width: 200px;
	height: 200px;
	background-color: #ccc;
	position: absolute;
	margin-top: 20px;
}

.myColor{
	color:   #00cc00;
}